* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid rgb(218, 218, 247); */
}

body {
	color: #5e6879;
	font-weight: 500;
	opacity: 0.97;
}

/* Fonts */
h1 {
	color: #414752;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.85;
}

h2 {
	text-align: center;
	font-size: 1.8rem;
}

p {
	font-size: 1rem;
	margin: 0.3rem 0;
}

/* Structures */
main {
	font-family: "poppins", sans-serif;
	min-height: 100vh;
	background: linear-gradient(to right top, #70a1ff, #1e90ff);
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.panel {
	background: white;
	width: 45%;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(1rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
}

.panel_p1 {
	min-height: 60vh;
}

.panel_p234 {
	min-height: 80vh;
}

.circle1,
.circle2,
.circle3 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.1)
	);
	border: none;
	position: absolute;
	z-index: 2;
	border-radius: 50%;
}

.circle1 {
	height: 10rem;
	width: 10rem;
	top: 13%;
	right: 22%;
}

.circle2 {
	height: 10rem;
	width: 10rem;
	bottom: 13%;
	left: 22%;
}

.circle3 {
	height: 5rem;
	width: 5rem;
	top: 30%;
	left: 25%;
}

.div_mid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}

.panel_p1 .div_mid {
	min-height: 15vh;
}
.panel_p234 .div_mid {
	justify-content: space-evenly;
	min-height: 50vh;
}

.div_bot {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	height: 3.2rem;
}

.left_btn,
.right_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

form {
	width: 98%;
}

button,
button:link,
button:visited {
	width: 98%;
	height: 100%;
	background: rgba(8, 8, 8, 0.05);
	border: none;
	border-radius: 0.5rem;
	font-size: larger;
	color: #414752d5;
	font-weight: 700;
	outline: none;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
	transition: background 0.2s;
}

button:hover,
button:active {
	background: rgba(30, 144, 255, 0.3);
}

/* class applies to select element itself, not a wrapper element */
.select-css,
select,
select:visited {
	display: block;
	width: 98%;
	height: 100%;
	padding-left: 1rem;
	background: rgba(8, 8, 8, 0.05);
	border: none;
	outline: none;
	border-radius: 0.5rem;
	font-size: larger;
	color: #414752d5;
	font-weight: 700;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

select:hover,
select:active {
	background: rgba(30, 144, 255, 0.3);
}

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
	display: none;
}

/* Focus style */
.select-css:focus {
	border: none;
	outline: none;
}

a {
	width: 100%;
}

/* Lists */
ul {
	padding-left: 2rem;
}

.checkbox_opt {
	list-style-type: none;
	margin-left: -1rem;
}

/* Tables */
table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #dfe4ea;
}

td,
th {
	border: 3px solid #dfe4ea;
	padding: 3px 0.3rem;
	height: 2.5rem;
}

.question_header {
	width: 50%;
	text-align: left;
}

.score_header {
	width: 50%;
	text-align: right;
	padding-right: 0.5rem;
}

.total_header {
	text-align: left;
}

input[type="number"] {
	display: block;
	position: relative;
	padding-right: 2rem;
	width: 100%;
	height: 100%;
	text-align: right;
	background: none;
	border: 1px solid #dfe4ea;
	outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	opacity: 0.5;
	-webkit-appearance: inner-spin-button !important;
	width: 1.5rem;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.cell_right {
	text-align: right;
	padding-right: 0.5rem;
	width: calc(50% / 3);
}

.counted {
	background: #67e099;
}

.double_counted {
	background: #28ca6b;
}

.legend {
	width: 60%;
	font-size: small;
	text-align: left;
}

.legend_header {
	width: 70%;
}
