{% extends "base.html" %}
{% block title %}
RV GPA Calculator
{% endblock %}
{% block body %}
<h1>RV GPA Calculator</h1>
<p>
    Welcome to the RVHS GPA Calculator.
</p>

<form action="{{url_for('subjs_selection')}}">
    <p>
        <label for="level">Please enter your academic level:</label>
    </p>

    <p>

    </p>
    <table class="page_btm_table">
        <tr>
            <td>
                <select name="level" id="level">
                    {% for i in range(1, 5) %}
                    <option value="{{i}}" {% if request.args|length !=0 and i==request.args['level']|int %} selected {%
                        endif %}>Secondary {{i}}
                    </option>

                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit" value="Submit">Submit</button>
            </td>
        </tr>
    </table>



</form>
{% endblock %}