{% extends "base.html" %}
{% block title %}
RV GPA Calculator
{% endblock %}
{% block body %}
<form action="{{url_for('subjs_selection')}}">

    <main>
        <section class="heading">
            <h1>RV GPA Calculator</h1>

        </section>
        <section class="content">
            <div class="message">
                Welcome to the RVHS GPA Calculator!
            </div>
            <div class="message">
                Please enter your academic level:
            </div>
        </section>
        <section class="bot-nav">
            <div>
                <select name="level" id="level">
                    {% for i in range(1, 5) %}
                    <option value="{{i}}" {% if request.args|length !=0 and i==request.args['level']|int %} selected {%
                        endif %}>Secondary {{i}}
                    </option>

                    {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" value="Submit">Submit</button>
            </div>
        </section>
    </main>
</form>
{% endblock %}