<!DOCTYPE html>
<html>

<head>
    <title>Subject Selection</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Subject Selection</h1>
    <p>Please select the subjects you are taking.</p>

    <form action="{{url_for('gpa_calc')}}">
        <input type="text" name="level" value="{{ level }}" hidden>
        <p>
            Here are the compulsory subjects for Secondary {{ level }}:
        </p>

        <ul>
            {% for subj in compul_subjs %}
            <li class="normal_li">
                {{ subj[0]}}
            </li>
            {% endfor %}
        </ul>

        <p>
            Please select the Science subjects you are taking:
        </p>
        <ul>
            {% for subj in opt_subjs %}
            {% if subj[2] == "Science" %}
            <li class="checkbox_opt">
                <input type="checkbox" name="sci_subjs" id="{{ subj[1] }}" value="{{ subj[1] }}">
                <label for="{{ subj[1] }}">
                    {{ subj[0] }}
                </label>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <p>
            Please select the Humanities subjects you are taking:
        </p>
        <ul>
            {% for subj in opt_subjs %}
            {% if subj[2] == "Humanities" %}
            <li class="checkbox_opt">
                <input type="checkbox" name="hum_subjs" id="{{ subj[1] }}" value="{{ subj[1] }}">
                <label for="{{ subj[1] }}">
                    {{ subj[0] }}
                </label>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <p>
            <input type="submit">
        </p>

    </form>
    <p>
        <a href="{{ url_for('index') }}">Restart</a>
    </p>

</body>

</html>