{% extends "base.html" %}
{% block title %}
Subject Selection
{% endblock %}
{% block body %}
<h1>Subject Selection</h1>
<p>Please select the subjects you are taking.</p>

<form id="subjs_form" action="{{url_for('gpa_calc')}}">
    <input type="text" name="level" value="{{ level }}" hidden>
    <p>
        Here are the compulsory subjects for Secondary {{ level }}:
    </p>

    <ul>
        {% for subj in compul_subjs %}
        <li class="normal_li">
            {{ subj[0]}}
        </li>
        {% endfor %}
    </ul>

    <p>
        Please select the Science subjects you are taking:
    </p>
    <ul>
        {% for subj in opt_subjs %}
        {% if subj[2] == "Science" %}
        <li class="checkbox_opt">
            <input type="checkbox" name="sci_subjs" id="{{ subj[1] }}" value="{{ subj[1] }}" {% if subj[1] in
                request.args.getlist("sci_subjs") %} checked {% endif %}>
            <label for="{{ subj[1] }}">
                {{ subj[0] }}
            </label>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <p>
        Please select the Humanities subjects you are taking:
    </p>
    <ul>
        {% for subj in opt_subjs %}
        {% if subj[2] == "Humanities" %}
        <li class="checkbox_opt">
            <input type="checkbox" name="hum_subjs" id="{{ subj[1] }}" value="{{ subj[1] }}" {% if subj[1] in
                request.args.getlist("hum_subjs") %} checked {% endif %}>
            <label for="{{ subj[1] }}">
                {{ subj[0] }}
            </label>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</form>
<table class="page_btm_table">
    <tr>
        <td>
            <a href="{{ url_for('index', level=level) }}">
                <button type="text" value="Back">Back</button>
            </a>
        </td>
        <td>
            <button type="submit" value="Submit" form="subjs_form">Submit</button>
        </td>
    </tr>
</table>
{% endblock %}